@import 'tailwindcss';
@source './src/app';
@source './src/index.html';
@source './packages/angular/src';
@source './src/tw-classes.txt';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pixel: var(--font-geist-pixel-square);
}

:root {
  --background: #f5f5f5;
  --foreground: #000;
  --primary: #8b5cf6;
  --secondary: #3f3f47;

  --radius: 0.4rem;

  --header-height: 64px;

  --font-geist-sans:
    'Geist', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --font-geist-pixel-square: 'Press Start 2P', 'Geist Mono', monospace;
}

.dark {
  --background: #171717;
  --foreground: #fff;
  --secondary-bg: #262626;
  --secondary: #d4d4d4;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-700) transparent;
  }

  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  html[data-base-ui-scroll-locked] {
    scroll-behavior: auto;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    overscroll-behavior: none;
    font-family: var(--font-geist-sans);
    margin: 0;
  }

  ::selection {
    background-color: var(--primary);
    color: white;
  }

  .root {
    isolation: isolate;
    min-height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-neutral-700);
    border-radius: 6px;
  }

  .view-container {
    @apply mx-auto w-full max-w-[1292px] px-4 xl:px-2;
  }
}
